# Prework

In [1]:
# Import libraries
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
#Load CSVs
file_path_2019 = Path("RESOURCES/2019.csv")
file_path_2018 = Path("RESOURCES/2018.csv")
file_path_2017 = Path("RESOURCES/2017.csv")
file_path_2016 = Path("RESOURCES/2016.csv")
file_path_2015 = Path("RESOURCES/2015.csv")
file_path_2014 = Path("RESOURCES/2014.csv")
file_path_2013 = Path("RESOURCES/2013.csv")
file_path_2012 = Path("RESOURCES/2012.csv")
file_path_2011 = Path("RESOURCES/2011.csv")
#Read in CSVs
df_2019 = pd.read_csv(file_path_2019)
df_2018 = pd.read_csv(file_path_2018)
df_2017 = pd.read_csv(file_path_2017)
df_2016 = pd.read_csv(file_path_2016)
df_2015 = pd.read_csv(file_path_2015)
df_2014 = pd.read_csv(file_path_2014)
df_2013 = pd.read_csv(file_path_2013)
df_2012 = pd.read_csv(file_path_2012)
df_2011 = pd.read_csv(file_path_2011)

In [3]:
#Concat Data
combined_epl_df = pd.concat([df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011],axis="index", join="inner")
#Dataframe converted from British Date to US Date
combined_epl_df['Date'] = pd.to_datetime(combined_epl_df["Date"])
combined_epl_df["Date"] = combined_epl_df["Date"].dt.strftime("%m-%d-%Y")
combined_epl_df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,10-08-2018,Man United,Leicester,2,1,H,1,0,H,...,2.12,2.03,1.85,1.79,17.0,-0.75,1.75,1.70,2.29,2.21
1,E0,11-08-2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,2.05,1.98,1.92,1.83,20.0,-0.75,2.20,2.13,1.80,1.75
2,E0,11-08-2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,2.00,1.95,1.96,1.87,22.0,-0.25,2.18,2.11,1.81,1.77
3,E0,11-08-2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,2.05,1.98,1.90,1.84,23.0,1.00,1.84,1.80,2.13,2.06
4,E0,11-08-2018,Newcastle,Tottenham,1,2,A,1,2,A,...,2.10,2.01,1.88,1.81,20.0,0.25,2.20,2.12,1.80,1.76

In [4]:
#Set Date as index
combined_epl_df.set_index('Date', inplace = True)
combined_epl_df.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
10-08-2018,E0,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,2.12,2.03,1.85,1.79,17.0,-0.75,1.75,1.70,2.29,2.21
11-08-2018,E0,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,2.05,1.98,1.92,1.83,20.0,-0.75,2.20,2.13,1.80,1.75
11-08-2018,E0,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,2.00,1.95,1.96,1.87,22.0,-0.25,2.18,2.11,1.81,1.77
11-08-2018,E0,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,2.05,1.98,1.90,1.84,23.0,1.00,1.84,1.80,2.13,2.06
11-08-2018,E0,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2.10,2.01,1.88,1.81,20.0,0.25,2.20,2.12,1.80,1.76

In [5]:
# Check data for nulls, check for sum...
combined_epl_df.dropna()
combined_epl_df.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
10-08-2018,E0,Man United,Leicester,2,1,H,1,0,H,A Marriner,...,2.12,2.03,1.85,1.79,17.0,-0.75,1.75,1.70,2.29,2.21
11-08-2018,E0,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,...,2.05,1.98,1.92,1.83,20.0,-0.75,2.20,2.13,1.80,1.75
11-08-2018,E0,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,...,2.00,1.95,1.96,1.87,22.0,-0.25,2.18,2.11,1.81,1.77
11-08-2018,E0,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,...,2.05,1.98,1.90,1.84,23.0,1.00,1.84,1.80,2.13,2.06
11-08-2018,E0,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,...,2.10,2.01,1.88,1.81,20.0,0.25,2.20,2.12,1.80,1.76

In [6]:
#Drop Excess columns half time
combined_epl_df = combined_epl_df.drop(columns=['Div', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA'])
combined_epl_df.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,B365H,B365D,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
10-08-2018,Man United,Leicester,2,1,H,1,0,H,1.57,3.9,...,2.12,2.03,1.85,1.79,17.0,-0.75,1.75,1.70,2.29,2.21
11-08-2018,Bournemouth,Cardiff,2,0,H,1,0,H,1.90,3.6,...,2.05,1.98,1.92,1.83,20.0,-0.75,2.20,2.13,1.80,1.75
11-08-2018,Fulham,Crystal Palace,0,2,A,0,1,A,2.50,3.4,...,2.00,1.95,1.96,1.87,22.0,-0.25,2.18,2.11,1.81,1.77
11-08-2018,Huddersfield,Chelsea,0,3,A,0,2,A,6.50,4.0,...,2.05,1.98,1.90,1.84,23.0,1.00,1.84,1.80,2.13,2.06
11-08-2018,Newcastle,Tottenham,1,2,A,1,2,A,3.90,3.5,...,2.10,2.01,1.88,1.81,20.0,0.25,2.20,2.12,1.80,1.76

In [7]:
#Rename Columns 
combined_epl_df = combined_epl_df.rename(columns={
    "FTHG": "FT_HomeGoals", "FTAG": "FT_AwayGoals", "FTR": "FT_Result", "HTHG": "HT_HomeGoals", "HTAG": "HT_AwayGoals", "HTR": "HT_Result", "B365H" : "Bet365_HomeWin_Odds", "B365D": "Bet365_Draw_Odds", "B365A": "Bet365_AwayWin_Odds"})
combined_epl_df.head()

,HomeTeam,AwayTeam,FT_HomeGoals,FT_AwayGoals,FT_Result,HT_HomeGoals,HT_AwayGoals,HT_Result,Bet365_HomeWin_Odds,Bet365_Draw_Odds,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
10-08-2018,Man United,Leicester,2,1,H,1,0,H,1.57,3.9,...,2.12,2.03,1.85,1.79,17.0,-0.75,1.75,1.70,2.29,2.21
11-08-2018,Bournemouth,Cardiff,2,0,H,1,0,H,1.90,3.6,...,2.05,1.98,1.92,1.83,20.0,-0.75,2.20,2.13,1.80,1.75
11-08-2018,Fulham,Crystal Palace,0,2,A,0,1,A,2.50,3.4,...,2.00,1.95,1.96,1.87,22.0,-0.25,2.18,2.11,1.81,1.77
11-08-2018,Huddersfield,Chelsea,0,3,A,0,2,A,6.50,4.0,...,2.05,1.98,1.90,1.84,23.0,1.00,1.84,1.80,2.13,2.06
11-08-2018,Newcastle,Tottenham,1,2,A,1,2,A,3.90,3.5,...,2.10,2.01,1.88,1.81,20.0,0.25,2.20,2.12,1.80,1.76

In [8]:
# Designate HomeTeam win as "1", and Draw/ AwayTeam win as "0"
## def changeResult(result):
   ## if result == "H":
     ##   return 1
   ## else:
     ##   return 0

In [9]:
## combined_epl_df['FT_Result'] = combined_epl_df["FT_Result"].apply(changeResult)

In [10]:
#Create DataFrames for Each Team by HomeTeam
everton_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Everton"]
astonvilla_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Aston Villa"]
leicester_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Leicester"]
arsenal_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Arsenal"]
liverpool_df = pd.concat([combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Liverpool"], combined_epl_df.loc[combined_epl_df['AwayTeam'] == "Liverpool"]], axis="index", join="inner")
tottenham_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Tottenham"]
chelsea_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Chelsea"]
leeds_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Leeds"]
newcastle_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Newcastle"]
westham_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "West Ham"]
southampton_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Southampton"]
crystal_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Crystal Palace"]
wolves_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Wolves"]
mancity_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Man City"]
brighton_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Brighton"]
manutd_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Man United"]
westbrom_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "West Brom"]
burnley_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Burnley"]
sheffield_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Sheffield United"]
fulham_df = combined_epl_df.loc[combined_epl_df["HomeTeam"] == "Fulham"]

In [11]:
#Calculate Average Win% of Team when they were the HomeTeam
everton_mean_df = everton_df['FT_Result'].mean()
astonvilla_mean_df = astonvilla_df['FT_Result'].mean()
leicester_mean_df = leicester_df['FT_Result'].mean()
arsenal_mean_df = arsenal_df['FT_Result'].mean()
liverpool_mean_df = liverpool_df['FT_Result'].mean()
tottenham_mean_df = tottenham_df['FT_Result'].mean()
chelsea_mean_df = chelsea_df['FT_Result'].mean()
leeds_mean_df = leeds_df['FT_Result'].mean()
newcastle_mean_df = newcastle_df['FT_Result'].mean()
westham_mean_df = westham_df['FT_Result'].mean()
southampton_mean_df = southampton_df['FT_Result'].mean()
crystal_mean_df = crystal_df['FT_Result'].mean()
wolves_mean_df = wolves_df['FT_Result'].mean()
mancity_mean_df = mancity_df['FT_Result'].mean()
brighton_mean_df = brighton_df['FT_Result'].mean()
manutd_mean_df = manutd_df['FT_Result'].mean()
westbrom_mean_df = westbrom_df['FT_Result'].mean()
burnley_mean_df = burnley_df['FT_Result'].mean()
sheffield_mean_df = sheffield_df['FT_Result'].mean()
fulham_mean_df = fulham_df['FT_Result'].mean()

TypeError: Could not convert HDAHHHHDDAAHAADHHHHHAHAAHHHHDADHHHADHDDHHDHDDHAHHHHHHHHAHDAHDAHHDAADAHAAADHHDHHHDDHHAHHHHHHHAHAHDHDHDDHHADHDHHHHHHADHAAHADHADHHHAHHHHDDAHHDAADHDHHDHDHHH to numeric

In [12]:
#Count Number of Games Played in the League, 152 is the Total Games used to standardize data (from 2011-2018)
everton_count_df = everton_df['FT_Result'].count()/152
astonvilla_count_df = astonvilla_df['FT_Result'].count()/152
leicester_count_df = leicester_df['FT_Result'].count()/152
arsenal_count_df = arsenal_df['FT_Result'].count()/152
liverpool_count_df = liverpool_df['FT_Result'].count()/152
tottenham_count_df = tottenham_df['FT_Result'].count()/152
chelsea_count_df = chelsea_df['FT_Result'].count()/152
leeds_count_df = leeds_df['FT_Result'].count()/152
newcastle_count_df = newcastle_df['FT_Result'].count()/152
westham_count_df = westham_df['FT_Result'].count()/152
southampton_count_df = southampton_df['FT_Result'].count()/152
crystal_count_df = crystal_df['FT_Result'].count()/152
wolves_count_df = wolves_df['FT_Result'].count()/152
mancity_count_df = mancity_df['FT_Result'].count()/152
brighton_count_df = brighton_df['FT_Result'].count()/152
manutd_count_df = manutd_df['FT_Result'].count()/152
westbrom_count_df = westbrom_df['FT_Result'].count()/152
burnley_count_df = burnley_df['FT_Result'].count()/152
sheffield_count_df = sheffield_df['FT_Result'].count()/152
fulham_count_df = fulham_df['FT_Result'].count()/152

In [13]:
#Salary, standardized by Estimated 2021 Total Salary divided by Number of Players on Active Roster; information from the Salary amounts
#By Team
everton_s_df = 67507000/33
astonvilla_s_df = 41012396/27
leicester_s_df = 64820000/29
arsenal_s_df = 116741273/30
liverpool_s_df = 94380000/28
tottenham_s_df = 76700000/29
chelsea_s_df = 135790000/32
leeds_s_df = 11386000/28
newcastle_s_df = 34493000/28
westham_s_df = 42120000/24
southampton_s_df = 42536000/26
crystal_s_df = 81562000/30
wolves_s_df = 40083000/24
mancity_s_df = 128947000/26
brighton_s_df = 25221333/30
manutd_s_df = 159635000/30
westbrom_s_df = 20670000/29
burnley_s_df = 28392000/22
sheffield_s_df = 10348000/28
fulham_s_df = 24588824/28
#Average Total Team Est. Salary / Average Players
avg_sal_player = 62346641/28
#Standardize by Dividing Average Team Salary / Total Average Salary Per Player
everton_salary_df = everton_s_df / avg_sal_player
astonvilla_salary_df = astonvilla_s_df / avg_sal_player
leicester_salary_df = leicester_s_df / avg_sal_player
arsenal_salary_df = arsenal_s_df / avg_sal_player
liverpool_salary_df = liverpool_s_df / avg_sal_player
tottenham_salary_df = tottenham_s_df / avg_sal_player
chelsea_salary_df = chelsea_s_df / avg_sal_player
leeds_salary_df = leeds_s_df / avg_sal_player
newcastle_salary_df = newcastle_s_df / avg_sal_player
westham_salary_df = westham_s_df / avg_sal_player
southampton_salary_df = southampton_s_df / avg_sal_player
crystal_salary_df = crystal_s_df / avg_sal_player
wolves_salary_df = wolves_s_df / avg_sal_player
mancity_salary_df = mancity_s_df / avg_sal_player
brighton_salary_df = brighton_s_df / avg_sal_player
manutd_salary_df = manutd_s_df / avg_sal_player
westbrom_salary_df = westbrom_s_df / avg_sal_player
burnley_salary_df = burnley_s_df / avg_sal_player
sheffield_salary_df = sheffield_s_df / avg_sal_player
fulham_salary_df = fulham_s_df / avg_sal_player

In [14]:
#Create DataFrame for Features to prep for ML Model; standardizing league position by Team Position / 20 (Number of Teams in League)
pre_model_df = pd.DataFrame({
    "Team" : ["Everton", "Aston Villa","Leicester","Arsenal", "Liverpool", "Tottenham", "Chelsea", "Leeds", "Newcastle", "Westham", "Southampton", "Crystal",
              "Wolves", "Manchester City", "Brighton", "Manchester United", "West Brom","Burnley", "Sheffield","Fulham"],
    "Win % as HomeTeam" : [everton_mean_df, astonvilla_mean_df, leicester_mean_df, arsenal_mean_df, liverpool_mean_df, tottenham_mean_df, chelsea_mean_df, leeds_mean_df,
                        newcastle_mean_df, westham_mean_df, southampton_mean_df, crystal_mean_df, wolves_mean_df, mancity_mean_df, brighton_mean_df, manutd_mean_df,
                        westbrom_mean_df, burnley_mean_df, sheffield_mean_df, fulham_mean_df],
    "Games in EPL" : [everton_count_df, astonvilla_count_df, leicester_count_df, arsenal_count_df, liverpool_count_df, tottenham_count_df, chelsea_count_df, leeds_count_df,
                        newcastle_count_df, westham_count_df, southampton_count_df, crystal_count_df, wolves_count_df, mancity_count_df, brighton_count_df, manutd_count_df,
                        westbrom_count_df, burnley_count_df, sheffield_count_df, fulham_count_df],
    "Current League Position" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    "Average League Position" : [((7.67/20-1)* -1), ((17.33/20-1)*-1), ((10/20-1)*-1), ((5.33/20-1)*-1), ((3.33/20-1)*-1), ((3/20-1)*-1), ((3/20-1)*-1), ((13/20-1)*-1), ((13.67/20-1)*-1), 
                                 ((11.33/20-1)*-1), ((13.67/20-1)*-1), ((12.33/20-1)*-1), ((14.67/20-1)*-1), ((1.67/20-1)*-1), ((18/20-1)*-1), ((4.67/20-1)*-1), ((14.67/20-1)*-1), ((12.67/20-1)*-1), 
                                 ((17.33/20-1)*-1), ((16.67/20-1)*-1)],
    "Average 2021 Salary By Player" : [everton_salary_df, astonvilla_salary_df, leicester_salary_df, arsenal_salary_df, liverpool_salary_df, tottenham_salary_df, chelsea_salary_df, leeds_salary_df,
                        newcastle_salary_df, westham_salary_df, southampton_salary_df, crystal_salary_df, wolves_salary_df, mancity_salary_df, brighton_salary_df, manutd_salary_df,
                        westbrom_salary_df, burnley_salary_df, sheffield_salary_df, fulham_salary_df],
    "Momentum" : [.6,0,.4,.8,.8,.6,.6,.0,.0,.2,0,0,.4,1,.6,.6,.2,.2,0,.2]
    
})

pre_model_df.set_index('Current League Position', inplace = True)
pre_model_df.head()

pre_model_df.head(20)

NameError: name 'everton_mean_df' is not defined

In [15]:
liverpool_df

,HomeTeam,AwayTeam,FT_HomeGoals,FT_AwayGoals,FT_Result,HT_HomeGoals,HT_AwayGoals,HT_Result,Bet365_HomeWin_Odds,Bet365_Draw_Odds,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
Date,,,,,,,,,,,,,,,,,,,,,
12-08-2018,Liverpool,West Ham,4,0,H,2,0,H,1.25,6.50,...,1.49,1.44,2.88,2.72,21.0,-1.75,1.95,1.90,2.06,1.97
08-25-2018,Liverpool,Brighton,1,0,H,1,0,H,1.16,8.50,...,1.47,1.41,3.00,2.85,21.0,-2.25,2.03,1.96,1.96,1.91
09-22-2018,Liverpool,Southampton,3,0,H,3,0,H,1.20,7.50,...,1.54,1.49,2.75,2.59,22.0,-2.00,2.03,1.96,1.94,1.90
07-10-2018,Liverpool,Man City,0,0,D,0,0,D,2.54,3.60,...,1.67,1.62,2.40,2.29,18.0,-0.25,2.25,2.17,1.80,1.74
10-27-2018,Liverpool,Cardiff,4,1,H,1,0,H,1.11,11.00,...,1.40,1.36,3.25,3.09,18.0,-2.50,2.02,1.92,2.01,1.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
03-20-2011,Sunderland,Liverpool,0,2,A,0,1,A,2.63,3.20,...,2.42,2.27,1.67,1.61,30.0,0.00,1.94,1.87,2.02,1.95
02-04-2011,West Brom,Liverpool,2,1,H,0,0,D,3.00,3.30,...,2.14,2.06,1.80,1.73,29.0,0.00,2.28,2.16,1.74,1.68
04-17-2011,Arsenal,Liverpool,1,1,D,0,0,D,1.73,3.60,...,1.91,1.86,2.01,1.93,17.0,-0.75,1.93,1.91,2.01,1.97
09-05-2011,Fulham,Liverpool,2,5,A,0,3,A,2.88,3.25,...,2.19,2.11,1.76,1.70,26.0,0.00,2.20,2.09,1.80,1.74
05-22-2011,Aston Villa,Liverpool,1,0,H,1,0,H,3.20,3.40,...,1.92,1.85,2.02,1.93,21.0,0.25,1.94,1.90,2.03,1.98

In [16]:
def conditions(s):
    if (s['HomeTeam'] == "Liverpool") and (s['FT_Result'] == "H"):
        return 1
    elif (s['AwayTeam'] == "Liverpool") and (s['FT_Result'] == "A"):
        return 1
    else:
        return 0

In [17]:
liverpool_df['Result'] = liverpool_df.apply(conditions, axis=1)

In [18]:
def changeHome(location):
    if location == "Liverpool":
        return 1
    else:
        return 0

In [19]:
liverpool_df['Location'] = liverpool_df["HomeTeam"].apply(changeHome)

In [20]:
liverpool_df = liverpool_df.drop(columns= ['HomeTeam', 'AwayTeam', 'HT_Result', 'FT_Result'])

In [21]:
liverpool_df = liverpool_df.dropna()

In [22]:
y = liverpool_df.drop(columns = ['FT_HomeGoals', 'FT_AwayGoals','HT_HomeGoals', 'HT_AwayGoals', 'Bet365_HomeWin_Odds',
       'Bet365_Draw_Odds', 'Bet365_AwayWin_Odds', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA','Location'])
X = liverpool_df.drop(columns = ['Result'])

In [23]:
y.values.reshape(-1, 1)

array([[1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0]], dtype=int64)

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(227, 26)

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [26]:
classifier.fit(X_train, y_train)

C:\Users\gscal\anaconda3\envs\nlp\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\gscal\anaconda3\envs\nlp\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=200, random_state=1)